@media screen and (width < 768px) {
  .section-about-us__img {
    width: calc(100vw - 32px);
    height: auto;
    align-self: center;
  }
}

@media screen and (width > 767px) {
  .section-about-us__img {
    width: 360px;
    height: auto;
  }
}

@media screen and (width > 1119px) {
  .section-about-us__img {
    width: 561px;
    height: auto;
  }
}
