.section-brands__btn-read-next {
  margin-top: 8px;
}

.section-brands__btn-read-next::before {
  position: relative;
  top: 5px;
  margin-right: 8px;
}

@media screen and (width < 768px) {
  .section-brands__btn-read-next {
    display: none;
  }   
}
