.brands-carousel {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (1120px > width > 767px) {
  .brands-carousel {
    flex-wrap: wrap;
  }
}

@media screen and (width > 1119px) {
  .brands-carousel {
    flex-wrap: wrap;
  }
}
