.main__heading {
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  color: #1b1c21;
  border-left: 4px solid #41f6d7;
  margin-bottom: 24px;
  margin-left: -12px;
  padding-left: 12px;
}

@media screen and (width > 767px) {
  .main__heading {
    margin-bottom: 24px;
    margin-left: -20px;
    padding-left: 16px;
  }
}

@media screen and (width > 1119px) {
  .main__heading {
    margin-bottom: 8px;
    margin-left: -28px;
    padding-left: 30px;
  }
}
