.link-carousel__link {
  padding: 8px 9px;
  display: block;
  border-radius: 6px;
  text-decoration: none;
  color: #7e7e82;
  text-wrap: nowrap;
}

.link-carousel__link[active] {
  border: 2px solid #b8ffec;
}
