.contacts__tel {
  font-size: 24px;
  font-family: 'TT Lakes Bold';
  text-decoration: none;
  color: #1b1c21;
  transition: all 0.3s ease-in-out 0s;
}

.contacts__tel:hover {
  color: #ff3e79;
  transition: all 0.3s ease-in-out 0s;
}
