.mobile-menu{
    position: fixed;
    top: 0;
    left: 0px;
    width: 320px;
    background-color: white;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 23px 32px 23px;
}