.mobile-menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 23px 32px 23px;
  overflow-y: scroll;
  z-index: 99;
  min-height: 788px;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #41f6d861 white;
  box-shadow: 16px 0px 52px 0px #0e185033;
}
