.language-change-form__link::after {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: -4.5px;
  top: -5.7px;
  z-index: -1;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out 0s;
}

.language-change-form__link[active] {
  color: #7e7e82;
  transition: color 0.3s ease-in-out 0s;
}

.language-change-form__link {
  position: relative;
  font-family: 'TT Lakes Medium';
  text-decoration: none;
  color: #1b1c21;
  margin-right: 7px;
}

.language-change-form__link:hover {
  color: white;
  transition: color 0.3s ease-in-out 0s;
}

.language-change-form__link:hover::after {
  content: '';
  background-color: #ff3e79;
  transition: background-color 0.3s ease-in-out 0s;
}
