@media screen and (width >= 1120px) {
  .header--hidden {
    background-color: transparent;
    border: none;
    margin-bottom: -70px;
    margin-top: 42px;
    position: relative;
    z-index: 90;
  }
}
