.main {
  padding: 24px 16px 34px;
  display: flex;
  flex-direction: column;
}

@media screen and (1120px > width > 767px) {
  .main {
    padding: 24px 24px 34px;
  }
}

@media screen and (width > 1119px) {
  .main {
    padding: 8px 32px 34px;
  }
}
