.brands-carousel__item {
  box-sizing: border-box;
  width: 224px;
  height: 72px;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;
}
